@import "tailwindcss";

@plugin "daisyui" {
   themes: light --default;
}

@font-face {
  font-family: "Comic Relief";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/ComicRelief-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comic Relief";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ComicRelief-Bold.ttf") format("truetype");
}

:root {
   font-family: "Comic Relief"
}